.git
.github
.venv
__pycache__
*.pyc
*.pyo
*.log

.env
config/auth_settings.json
mapping_store.db

Aufgabe
output
mapping_store

rolemapper-standalone-form.html
rolemapper-webapp-main-standalone.html
sshot-*.png
